<% provide(:title, "Sobre") %>
<h1>Sobre este site</h1>
<p>
  Este é um site sobre a guilda WoW Legion feito 
  para fins de aprendizado. Não possui vínculos 
  oficiais com a guilda.
  
  Caso queira entrar em contato com o criador deste site,
  mais informações na 
  <a href="http://localhost:3000/static_pages/contact/">página de contato</a>
</p>