<% provide(:title, "Contato") %>
<h1>Contato</h1>
<p>
  
  Caso possua dúvidas ou feedback sobre o site, por favor entrar
  em contato com os dados abaixo:
  
  César G. R. Almeida
  Email de contato:
  cesargralmeida(at)gmail(dot)com
</p>