<% provide(:title, "Contato") %>
<h1>Contato</h1>
<p>
  Caso possua dúvidas ou feedback sobre o site, por favor entrar
  em contato com os dados abaixo: <br><br>
  
  César G. R. Almeida <br><br>
  Email de contato: <br>
  cesargralmeida(at)gmail(dot)com <br>
</p>