<% provide(:title, "Home") %>
<h1>Home</h1>

<u3 class="posts">
	<% @posts.each do |post| %>
		<div class="panel panel-default" align="center">
			<div class="panel-heading">
				<h2 class="panel-title"><br><%= post.title %></br></h2>
				<% if post == @posts.first %>
					<span class="label label-success">Novo</span></h3>
				<% else %>
					</h3>
				<% end %>
			</div>
			<div class="panel-body">
				<%= post.content %>
			</div>
			<div class="panel-footer"><div align="right"><span class="label label-primary"><%= post.op %> em <%= post.created_at %></span></div></div>
			</div>
			<br>
	<% end %>
</u3>
